<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Messages</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel = 'stylesheet' href = '/stylesheets/messages.css'>
        <link rel='stylesheet' href='/stylesheets/profile-page.css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <% include header %>
        <body>
                <div class="chat-sidebar">
                <% for(var i=0; i<friends.length; i++) {%>
                 
                    <div class="sidebar-name">
                        <!-- Pass username and display name to register popup -->
                        <a href="javascript:register_popup('<%= friends[i]._id %>', '<%= friends[i].firstName %> <%= friends[i].lastName %>');"></a>
                        <div class="media block-update-card">
                            <a class="pull-left" href="javascript:register_popup('<%= friends[i]._id %>', '<%= friends[i].firstName %> <%= friends[i].lastName %>');">
                              <img class="media-object update-card-MDimentions" src=<%= friends[i].photo %> alt="...">
                            </a>
                            <a class="pull-left" href="javascript:register_popup('<%= friends[i]._id %>', '<%= friends[i].firstName %> <%= friends[i].lastName %>');">
                            <div class="media-body update-card-body">
                              <h4 class="media-heading"><%= friends[i].firstName  %> <%= friends[i].lastName %></h4>                            
                            </div>
                            </a>
                           </div>
                        </a>
                    </div>
                <% } %>
                </div>
                <div id="msg-container"></div>
   
        <% include footer %>
        <script src = '/javascripts/messages.js'></script>
    </body>
</html>