<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Messages</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel = 'stylesheet' href = '/stylesheets/messages.css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Minder</h1>
            <div id = 'navbar'>
            <ul>
                <li><a href = "http://localhost:3000/users/navigation">Find Friends</a></li>
                <li><a href = "http://localhost:3000/users/profile-page">Profile</a></li>
                <li><a href = "http://localhost:3000/users/logout">Logout</a></li>
            </ul>
            </div>
        </header>
        <body>
                <div class="chat-sidebar">
                <% for(var i=0; i<friends.length; i++) {%>
                    <div class="sidebar-name">
                        <!-- Pass username and display name to register popup -->
                        <a href="javascript:register_popup('<%= friends[i]._id %>', '<%= friends[i].firstName %> <%= friends[i].lastName %>');">
                        <!--<img width="30" height="30" src=>-->
                            <h3><%= friends[i].firstName %> <%= friends[i].lastName %></h3>
                        </a>
                    </div>
                <% } %>
                </div>
                <div id="msg-container"></div>
            </body>
        <!--
        <div class = "side-bar">
                <form>
                    <input type="text" name="search" placeholder="Search for profiles">
                </form>
        </div>
        <div class = 'message-container'>
            <p>Test input</p>
            <p>Test 2</p>
        </div>
        <div id = "message-box">
            <input type='text' id='chat-input'/>
        </div>-->
        <script src = '/javascripts/messages.js'></script>
    </body>
</html>