<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel = 'stylesheet' href = '/stylesheets/navigation.css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <% include header %>
        <div id='matches'>
        <!--<div id = 'all-users'>
            <h3>All Users</h3>
        </div>-->
         
        <div id = 'all-users-box'>
                <pre><h3>All Users</h3></pre>
                <div id='all-users'>
                    <% for(var i=0; i<allusers.length; i++) {%>
                        <div class="media block-update-card">
                                <a class="pull-left" href="#">
                                  <img class="media-object update-card-MDimentions" src=<%= allusers[i].photo %> alt="...">
                                </a>
                                <div class="media-body update-card-body">
                                  <h4 class="media-heading"><a href = "/users/viewprofile/<%= allusers[i].id %>"><%= allusers[i].firstName  %> <%= allusers[i].lastName %></a>, <%= allusers[i].school %></h4>
                                  <p><%= allusers[i].bio %></p>
                                  <button class="addFriend" value =<%= allusers[i].id %>>Send Friend Request</button>
                                </div>
                               </div>
                    <% } %>-->
                </div>
        </div>
        <!--<div id='local-matches'>
            <h3>Users near you</h3>
        </div>-->
        <div id='local-matches-box'>
            <pre><h3>Users Near You</h3></pre>
            <div id='local-matches'>
            <% for(var i=0; i<localusers.length; i++) {%>
                    <div class="media block-update-card">
                            <a class="pull-left" href="#">
                              <img class="media-object update-card-MDimentions" src=<%= localusers[i].photo %> alt="...">
                            </a>
                            <div class="media-body update-card-body">
                              <h4 class="media-heading"><a href = "/users/viewprofile/<%= localusers[i].id %>"><%= localusers[i].firstName  %> <%= localusers[i].lastName %></a>, <%= localusers[i].school %></h4>
                              <p><%= localusers[i].bio %></p>
                              <button class="addFriend" value =<%= localusers[i].id %>>Send Friend Request</button>
                            </div>
                           </div>
            <% } %>
        </div>
        </div>
        <!--<div id='tag-matches'>
            <h3>Users with Similar Tags</h3>
        </div>-->
        <div id='tag-matches-box'>
            <pre><h3>Users with Similar Tags</h3></pre>
            <div id='tag-matches'>
            <% for(var i=0; i<tagmatches.length; i++) {%>
                    <div class="media block-update-card">
                            <a class="pull-left" href="#">
                              <img class="media-object update-card-MDimentions" src=<%= tagmatches[i].photo %> alt="...">
                            </a>
                            <div class="media-body update-card-body">
                              <h4 class="media-heading"><a href = "/users/viewprofile/<%= tagmatches[i].id %>"><%= tagmatches[i].firstName  %> <%= tagmatches[i].lastName %></a>, <%= tagmatches[i].school %></h4>
                              <p><%= tagmatches[i].bio %></p>
                              <button class="addFriend" value =<%= tagmatches[i].id %>>Send Friend Request</button>
                            </div>
                           </div>
               
            <% } %>
            </div>
        </div>
        </div>
        <% include footer %>
        <script src = "/javascripts/navigation.js"></script>
    </body>
</html>