<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%=user.firstName %> <%=user.lastName%></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel ='stylesheet' href='/stylesheets/navigation.css'>
        <link rel ='stylesheet' href='/stylesheets/profile-page.css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <% include header %>
       <div class="card-deck">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src = <%= user.photo %> alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title"><%=user.firstName %> <%=user.lastName%> <a href = "/users/edit-profile">(edit)</a></h4>
                          <h5><%=user.type %></h5>
                          <h6>About Me</h6>
                          <p class="card-text"><%= user.bio %></p>
                          <h6>Tags</h6> 
                          <div class = 'profile-tags'>
                                <ul>
                                <% for(var i=0; i<user.tags.length; i++) {%>
                                    <li><%= user.tags[i] %></li>
                                <% } %>
                                </ul>                                                   
                        </div>
                        <h6>Location</h6>
                        <div id="map">
                                <img class="img-thumbnail" src = "https://maps.googleapis.com/maps/api/staticmap?center=<%= user.location %>&zoom=13&size=400x300&maptype=roadmap&key=AIzaSyBXH8DzK5WJPti9iLN8_rAJ8KF2yKCOVxs">
                            </div>
                        </div>
            </div>
            <div class="container">
                    <div class="card" id="bootstrap-overrides">
                      <div class="card-body">
                        <h4 class="card-title">Friends</h4>
                        <div id="friends-box">
                        <% if (friends.length === 0){%>
                            <p>You have not added any friends yet</p>
                        <% } %>
                        <% for(var i=0; i<friends.length; i++) {%>
                                <div class="media block-update-card">
                                        <a class="pull-left" href="#">
                                          <img class="media-object update-card-MDimentions" src=<%= friends[i].photo %> alt="...">
                                        </a>
                                        <div class="media-body update-card-body">
                                          <h4 class="media-heading"><a href = "/users/viewprofile/<%= friends[i].id %>"><%= friends[i].firstName  %> <%= friends[i].lastName %></a>, <%= friends[i].school %></h4>
                                          <p><%= friends[i].bio %></p>
                                        
                                        </div>
                                       </div>
                            <% } %>
                            </div>
                      </div>
                    </div>
                    <div class="card" id="bootstrap-overrides">
                      <div class="card-body">
                        <h4 class="card-title">Friend Requests</h4>
                        <div id ="requests-box">
                                <% if (friendRequests.length === 0){%>
                                    <p>You no friend requests currently</p>
                                <% } %>
                                <% for (var i=0;i<friendRequests.length;i++){%>
                                        <div class="media block-update-card">
                                                <a class="pull-left" href="#">
                                                  <img class="media-object update-card-MDimentions" src=<%= friendRequests[i].photo %> alt="...">
                                                </a>
                                                <div class="media-body update-card-body">
                                                  <h4 class="media-heading"><a href = "/users/viewprofile/<%= friendRequests[i].id %>"><%= friendRequests[i].firstName  %> <%= friendRequests[i].lastName %></a>, <%= friendRequests[i].school %></h4>
                                                  <p><%= friendRequests[i].bio %></p>
                                                  <button class="addFriend" value =<%= friendRequests[i].id %>>Accept Request</button>
                                                  <button class="denyRequest" value = <%= friendRequests[i].id %>>Deny Request</button>
                                                
                                                </div>
                                               </div>

                                <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="card" id="bootstrap-overrides">
                      <div class="card-body">
                        <h4 class="card-title">Pending Requests</h4>
                        <div id ="pending-box">
                                <% if (pendingRequests .length === 0){%>
                                    <p>You have no pending requests currently</p>
                                <% } %>
                            <% for (var i=0;i<pendingRequests.length;i++){%>
                                    <div class="media block-update-card">
                                            <a class="pull-left" href="#">
                                              <img class="media-object update-card-MDimentions" src=<%= pendingRequests[i].photo %> alt="...">
                                            </a>
                                            <div class="media-body update-card-body">
                                              <h4 class="media-heading"><a href = "/users/viewprofile/<%= pendingRequests[i].id %>"><%= pendingRequests[i].firstName  %> <%= pendingRequests[i].lastName %></a>, <%= pendingRequests[i].school %></h4>
                                              <p><%= pendingRequests[i].bio %></p>
                                              <button class="cancelRequest" value=<%= pendingRequests[i].id %>>Cancel Request</button>
                                            
                                            </div>
                                           </div>
                                <!--<div class="users">
                                        <h5><a href = "/users/viewprofile/<%= pendingRequests[i].id %>"><%= pendingRequests[i].firstName  %> <%= pendingRequests[i].lastName %></a>, <%= pendingRequests[i].school %></h5>   
                                        <h6>I am a <%= pendingRequests[i].type %></h6>
                                        <h6><%= pendingRequests[i].location %></h6>
                                        <button class="cancelRequest" value=<%= pendingRequests[i].id %>>Cancel Request</button>
                                </div>-->
                            <% } %>
                       </div>
                      </div>
                    </div>
                    </div>
                  </div>
        <script src="/javascripts/profile-page.js"></script>
        <% include footer %>
    </body>
 
</html>