<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%=user.firstName %><%=user.lastName%></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <link rel ='stylesheet' href='/stylesheets/profile-page.css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Minder</h1>
            <div id = 'navbar'>
            <ul>
                <li><a href = "http://localhost:3000/users/navigation">Find Friends</a></li>
                <li><a href = "http://localhost:3000/users/messages">Messages</a>  </li>
                <li><a href = "http://localhost:3000/users/logout">Logout</a></li>
            </ul>
            </div>
        </header>
        <div class="wrap">
            <div id="teachergallery">
            <h1><%=user.firstName %><%=user.lastName%></h1>
            <h2><%=user.type %></h2> 
            <div class="bio">
                <h3>Bio</h3>
                <p><%= user.bio %></p>
            </div>
            <div class = 'profile-tags'>
                    <h3>Tags</h3>
                    <ul>
                    <% for(var i=0; i<user.tags.length; i++) {%>
                        <li><%= user.tags[i] %></li>
                    <% } %>
                    </ul>                                     
                                
            </div>
            <h3>Friends</h3>
            <div id="friends-box">
                <% for(var i=0; i<friends.length; i++) {%>
                    <div class = "users">
                        <h5><%= friends[i].firstName  %> <%= friends[i].lastName %>, <%= friends[i].school %></h5>   
                        <h6>I am a <%= friends[i].type %></h6>
                        <h6><%= friends[i].location %></h6>
                    </div>
                <% } %>
            </div>
            <div id="map">
                <h3>Location</h3>
                <img src = "https://maps.googleapis.com/maps/api/staticmap?center=<%= user.location %>&zoom=13&size=400x300&maptype=roadmap&key=AIzaSyBXH8DzK5WJPti9iLN8_rAJ8KF2yKCOVxs">
            </div>
        </div>
        </div>
        <script src="/javascripts/profile-page.js"></script>
    </body>
 
</html>